<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>

        <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    </head>
    <body>
        <nav class="flex-row-center-center">
            <a href="#">
                <img src="https://via.placeholder.com/50x50" alt="Icon 1" />
            </a>
            <a href="#">
                <img src="https://via.placeholder.com/50x50" alt="Icon 2" />
            </a>
            <a href="#">
                <img src="https://via.placeholder.com/50x50" alt="Icon 3" />
            </a>
            <a href="#">
                <img src="https://via.placeholder.com/50x50" alt="Icon 4" />
            </a>
        </nav>

        <h1>Dashboard</h1>
    </body>
</html>
