body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #343a40;

    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

button,
input {
    border: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
